.mob-fake {
  width: 100%;
  height: 10vh;
  position: relative;
  top: 0;
  z-index: 101;
  margin: 0;
  padding: 0;
}
.mob-nav {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffd145;
  position: fixed;
  top: 0;
  z-index: 1000;
  padding: 0;
}

.mobBottom {
  width: 100%;
  height: 9vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: #ffd145; */
  position: fixed;
  bottom: 0;
  z-index: 1000;
  padding: 0;
}

/* magic bottom */

.navigation {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px 20px 0 0;
  background-color: #ffd145;
  z-index: 101;
}

.navigation ul {
  display: flex;
  width: 100%;
}
.navigation ul li {
  position: relative;
  list-style: none;
  width: 100%;
  height: 70px;
  z-index: 1000;
  display: flex;
}

.navigation ul li a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80%;
  text-align: center;
  font-weight: 500;
}

.navigation ul li a .icon {
  display: block;
  position: relative;
  line-height: 75px;
  font-size: 1.5rem;
  text-align: center;
  transition: 0.5s;
  color: black;
}
.navigation ul li.active2 a .icon {
  transform: translateY(-34px);
  color: #fff;
}
.navigation ul li a .text {
  position: absolute;
  color: black;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.05rem;
  transition: 0.5s;
  opacity: 0;
  transform: translateY(20px);
}
.navigation ul li.active2 a .text {
  opacity: 1;
  transform: translateY(15px);
}

.indicator {
  position: absolute;
  top: -45px;
  width: 72px;
  height: 72px;
  background-color: #ffd145;
  border-radius: 50%;
  border: 4px solid #f0e5d1;
  transition: 0.5s;
}

.indicator::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -23px;
  width: 20px;
  height: 20px;
  background-color: transparent;
  /* border-top-left-radius: 20px;
  box-shadow: 1px -10px 0 0 #fff; */
}
.indicator::after {
  content: "";
  position: absolute;
  top: 50%;
  left: -22px;
  width: 20px;
  height: 20px;
  background-color: transparent;
  /* border-top-left-radius: 20px;
  box-shadow: -1px -10px 0 0 #fff; */
}

/* @media only screen and (max-width: 992px) {
  .navigation{
    width: 80%;
  }
} */

.navigation ul li:nth-child(1).active2 ~ .indicator {
  transform: translateX(calc(97px * 0));
}
.navigation ul li:nth-child(2).active2 ~ .indicator {
  transform: translateX(calc(97px * 1));
}
.navigation ul li:nth-child(3).active2 ~ .indicator {
  transform: translateX(calc(97px * 2));
}
.navigation ul li:nth-child(4).active2 ~ .indicator {
  transform: translateX(calc(97px * 3));
}

@media only screen and (max-width: 822px) {
  .navigation ul li:nth-child(1).active2 ~ .indicator {
    transform: translateX(calc(90px * 0)) !important;
  }
  .navigation ul li:nth-child(2).active2 ~ .indicator {
    transform: translateX(calc(90px * 1)) !important;
  }
  .navigation ul li:nth-child(3).active2 ~ .indicator {
    transform: translateX(calc(90px * 2)) !important;
  }
  .navigation ul li:nth-child(4).active2 ~ .indicator {
    transform: translateX(calc(90px * 3)) !important;
  }
}
@media only screen and (max-width: 515px) {
  .navigation ul li:nth-child(1).active2 ~ .indicator {
    transform: translateX(calc(98px * 0)) !important;
  }
  .navigation ul li:nth-child(2).active2 ~ .indicator {
    transform: translateX(calc(98px * 1)) !important;
  }
  .navigation ul li:nth-child(3).active2 ~ .indicator {
    transform: translateX(calc(98px * 2)) !important;
  }
  .navigation ul li:nth-child(4).active2 ~ .indicator {
    transform: translateX(calc(98px * 3)) !important;
  }
}
@media only screen and (max-width: 400px) {
  .navigation ul li:nth-child(1).active2 ~ .indicator {
    transform: translateX(calc(90px * 0)) !important;
  }
  .navigation ul li:nth-child(2).active2 ~ .indicator {
    transform: translateX(calc(90px * 1)) !important;
  }
  .navigation ul li:nth-child(3).active2 ~ .indicator {
    transform: translateX(calc(90px * 2)) !important;
  }
  .navigation ul li:nth-child(4).active2 ~ .indicator {
    transform: translateX(calc(90px * 3)) !important;
  }
}

@media only screen and (max-width: 376px) {
  .navigation ul li:nth-child(1).active2 ~ .indicator {
    transform: translateX(calc(85px * 0)) !important;
  }
  .navigation ul li:nth-child(2).active2 ~ .indicator {
    transform: translateX(calc(85px * 1)) !important;
  }
  .navigation ul li:nth-child(3).active2 ~ .indicator {
    transform: translateX(calc(85px * 2)) !important;
  }
  .navigation ul li:nth-child(4).active2 ~ .indicator {
    transform: translateX(calc(85px * 3)) !important;
  }
}
