.inp-style {
  border-radius: 30px !important;
}

.form-control:focus {
  border: solid 1px #ffc107 !important;

  background-color: #fff !important;
}

input:active,
input:focus,
input:hover,
input:visited,
input.active,
input.focus,
input.hover,
input.visited,
button:active,
button:focus,
button:hover,
button:visited,
button.active,
button.focus,
button.hover,
button.visited {
  box-shadow: unset !important;
  outline: 0 !important;
}


@media only screen and (max-width: 992px) {
  .newInp {
      display: none !important;


  }
}
