.box {
  display: flex;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 255px;
}

.content {
  background-color: #f0e5d1;
  height: 100vh;
  color: #111;
  flex: 1;
  overflow-y: auto;
  margin-left: 255px;
  padding: 20px;
}


  @media only screen and (max-width:992px) {
    .sidebar{
        display: none;
    }

    .content{
      margin-left: 0;
      padding: 0;
    }
    
  }